.t-center {
    text-align: center;
}

.m {
    &-horz-auto {
        margin-left: auto;
        margin-right: auto;
    }
}

.heading-width {
    &-56 {
        width: 56%;
        
    }
    &-60 {
        width: 60%;
    }
    &-65 {
        width: 65%;
    }
    &-67 {
        width: 67%;
    }
    &-76 {
        width: 76%;
    }
    &-83 {
        width: 83%;
    }
    &-92 {
        width: 92%;
    }
    &-res-full {
        @media (max-width: 991px) {
            width: 100%;
        }
    }
}

.c {
    &-white {
        color: #fff;
    }
    &-dark {
        color: var(--color-dark);
    }
    &-yellow {
        color: var(--color-yellow);
    }
    &-red {
        color: var(--color-red);
    }
    &-green {
        color: var(--color-green);
    }
    &-pink {
        color: var(--color-pink);
    }
    &-blue {
        color: var(--color-blue);
    }
    &-purple {
        color: var(--color-purple);
    }
    &-grey {
        color: var(--color-grey);
        &-3 {
            color: var(--color-grey-3);
        }
        &-4 {
            color: var(--color-grey-4);
        }
    }
}

.bg {
    &-red {
        background-color: var(--color-red);
        &-rgba-8 {
            background-color: var(--color-red-rgba-8);
        }
    }
    &-simple-color-orange {
        background-color: var(--simple-color-orange);
        &-light-8 {
            background-color: var(--simple-color-orange-light-8);
        }
    }
    &-pink {
        background-color: var(--color-pink);
    }
    &-light {
        background-color: var(--color-light);
    }
    &-darkk {
        background-color: var(--color-dark);
    }
    &-dark-1 {
        background-color: var(--color-dark-1);
    }
    &-purple {
        background-color: var(--color-purple);
    }
    &-blue {
        background-color: var(--color-blue);
        &-rgba-8 {
            background-color: var(--color-blue-rgba-8);
        }
    }
    &-simple-color-blue {
        background-color: var(--simple-color-blue);
        &-rgba-8 {
            background-color: var(--simple-color-blue-light-8);
        }
    }
    &-yellow {
        background-color: var(--color-yellow);
    }
    &-simple-color-yellow {
        background-color: var(--simple-color-yellow);
    }
    &-green {
        background-color: var(--color-green);
        &-rgba-8 {
            background-color: var(--color-green-rgba-8);
        }
    }
    &-grey {
        background-color: var(--color-grey);
        &-5 {
            background-color: var(--color-grey-5);
        }
    }

    &-simple-green {
        background-color: var(--simple-color-green);
        &-5 {
            background-color: var(----simple-color-green-light-5);
        }
    }
}

.box {
    &-small {
        width: 3rem;
        height: 3rem;
    }
    &-top-left {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.fw {
    &-600 {
        font-weight: 600;
    }
    &-500 {
        font-weight: 500;
    }
}

.lt {
    &-24 {
        line-height: 2.4rem;
    }
    &-60 {
        line-height: 6rem;
    }
    &-80 {
        line-height: 8rem;
    }
}

.ls {
    &-1 {
        letter-spacing: -.1rem;
    }
}

.icon {
    font-size: 6rem;

    &-small {
        font-size: 3.4rem;
    }

    &-text {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .icon {
            width: 30%;
        }

        .content {
            p {
                margin-top: 1rem;
            }
        }

        @media (max-width: 575px) {
            flex-direction: column;
        }
    }
}

.pattern-image {
    position: relative;

    .image {
        position: relative;
        z-index: 3;

        img {
            max-width: 100%;
        }
    }

    .background-layout {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;

        z-index: 1;
    }

    .box-image {
        width: 112%;

        aspect-ratio: 164 / 117;

        background-repeat: no-repeat;
        background-size: cover;

        position: absolute;
        top: 12.5rem;
        left: -40%;

        z-index: 3;
    }

    .box-1 {
        &-1 {
            position: absolute;
            bottom: 100%;
            left: -10%;
            width: 10%;
            aspect-ratio: 1 / 1;
        }
        &-2 {
            position: absolute;
            bottom: 100%;
            right: -13%;
            width: 13%;
            aspect-ratio: 1 / 1;
        }
    }

    .box-2 {
        width: 112%;
        aspect-ratio: 164 / 117;

        position: absolute;
        top: 17.5rem;
        left: -32.5%;

        z-index: 2;

        &-1 {
            position: absolute;
            top: 100%;
            left: -16%;
            width: 16%;
            aspect-ratio: 1 / 1;
        }
    }

    @media (max-width: 991px) {
        margin-bottom: 3rem;

        .image {
            text-align: right;

            img {
                max-width: 65%;
            }
        }

        .background-layout {
            top: 10%;
        }

        .box-image {
            width: 90%;
            left: 0%;
        }

        .box-2 {
            width: 90%;
            left: -10%;
        }
    }

    @media (max-width: 575px) {
        .background-layout {
            top: 0;
        }

        .box-image {
            top: 10%;
        }

        .box-2 {
            top: 18%;
        }
    }
}

.pattern-image-reverse {
    text-align: right;

    .box-image {
        left: initial;
        right: -40%;
    }

    .box-1 {
        &-1 {
            left: -13%;
            width: 13%;
        }
        &-2 {
            right: -10%;
            width: 10%;
        }
    }

    .box-2 {
        left: initial;
        right: -32.5%;

        &-1 {
            left: initial;
            right: -16%;
        }
    }

    @media (max-width: 991px) {
        text-align: left;

        .image {
            text-align: left;
        }

        .box-image {
            right: 0;
        }

        .box-2 {
            right: -10%;
        }
    }
}

.link-underline {
    > span {
        position: relative;
        @include animateIt;
        &::before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            right: 0rem;
            bottom: -.25rem;
            height: .1rem;
            background-color: #fff;
            transform-origin: right center;
            transform: scale(0, 1);
            transition: transform .3s ease;
        }
    }
    
    
    &:hover {
        color: unset;
        > span {
            text-decoration: none;
            &::before {
                transform-origin: left center;
                transform: scale(1, 1);
            }
        }
    }

    &-1 {
        > span::before {
            background-color: var(--color-grey);
        }
    }
}

.paragraph-big {
    font-size: 2rem;
    line-height: 3.4rem;
}