.cta-section {
    &-wrapper {
        position: relative;
        z-index: 2;

        @media (max-width: 991px) {
            padding: 5rem 0;
        }
    }

    &-content {
        h2 {
            font-size: 5rem;
            line-height: 7rem;
            margin-bottom: 3.8rem;


            @media (max-width: 991px) {
                font-size: 4rem;
                line-height: 6rem;
            }
        }

        @media (max-width: 991px) {
            text-align: center;
        }
    }

    &-image {
        text-align: right;
        position: relative;

        img {
            max-width: 100%;
        }

        .box-1 {
            position: absolute;
            top: 35%;
            left: 25%;
            width: 16.4rem;
            aspect-ratio: 1 / 1;
        }
        .box-2 {
            position: absolute;
            bottom: 100%;
            left: -50%;
            width: 50%;
            aspect-ratio: 1 / 1;
            &-1 {
                position: absolute;
                top: 100%;
                left: -80%;
                width: 80%;
                aspect-ratio: 1 / 1;
            }
        }
        .box-3 {
            position: absolute;
            top: 100%;
            left: -75%;
            width: 75%;
            aspect-ratio: 1 / 1;
        }
        .box-4 {
            position: absolute;
            top: 20%;
            right: -4rem;
            width: 8.4rem;
            aspect-ratio: 1 / 1;
        }
        .box-5 {
            position: absolute;
            top: 100%;
            left: 100%;
            width: 150%;
            aspect-ratio: 1 / 1;
        }
        .box-6 {
            position: absolute;
            top: 100%;
            left: 100%;
            width: 75%;
            aspect-ratio: 1 / 1;
        }
        .box-7 {
            position: absolute;
            top: 100%;
            right: 100%;
            width: 70%;
            aspect-ratio: 1 / 1;
        }

        @media (max-width: 991px) {
            text-align: center;
            margin-bottom: 3rem;

            img {
                max-width: 80%;
            }

            .box-1 {
                left: 5%;
            }

            .box-4 {
                right: 2rem;
            }
        }
    }

    .background-layout {
        .box-1 {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            width: 92%;
            height: 90%;

            @media (max-width: 1599px) {
                width: 98%;
            }

            @media (max-width: 1299px) {
                width: 100%;
            }

            &-1 {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 6%;
                aspect-ratio: 1 / 1;
                &-1 {
                    position: absolute;
                    bottom: 100%;
                    right: -60%;
                    width: 60%;
                    aspect-ratio: 1 / 1;
                }
            }
        }
        .box-2 {
            position: absolute;
            bottom: 100%;
            right: 100%;
            width: 8.7%;
            aspect-ratio: 1 / 1;

            @media (max-width: 1599px) {
                width: 2%;
                right: 100%;
            }

            @media (max-width: 1299px) {
                width: 6%;
                right: 94%;
            }

            &-1 {
                position: absolute;
                bottom: 100%;
                right: -40%;
                width: 40%;
                aspect-ratio: 1 / 1;
            }
        }

        .box-3 {
            position: absolute;
            top: 100%;
            right: 100%;
            width: 8.7%;
            aspect-ratio: 1 / 1;

            @media (max-width: 1599px) {
                width: 2%;
                right: 100%;
            }

            @media (max-width: 1299px) {
                width: 6%;
                right: 94%;
            }

            &-1 {
                position: absolute;
                top: 100%;
                right: -40%;
                width: 40%;
                aspect-ratio: 1 / 1;
            }
        }

        @media (max-width: 991px) {
            .box-1 {
                height: 100%;
            }
        }
    }
}

.cta-section-1 {
    .background-layout {
        .box-1 {
            width: 100%;

            @media (max-width: 1599px) {
                width: 100%;
            }
        }
    }
}