.footer {

    &-wrapper {
        position: relative;
        padding: 15rem 0 15rem 0;

        @media (max-width: 991px) {
            padding: 10rem 0 5rem 0;
        }
    }

    &-row {
        display: flex;
        justify-content: space-between;
        
        position: relative;
        z-index: 2;

        @media (max-width: 991px) {
            flex-direction: column;

            > div:nth-child(n+2) {
                margin-top: 3rem;
            }
        }
    }

    &-detail {
        flex: .5;
        p {
            margin: 1.7rem 0 3.4rem 0;
            @media (max-width: 991px) {
                margin: 2rem 0;
            }
        }
    }

    &-list {
        h6 {
            font-size: 1.5rem;
            font-weight: bold;
            color: black;
            margin-bottom: 5rem;
        }
        li {
            list-style: none;
            a {
                font-size: 1.5rem;
                font-weight: 500;
                line-height: 4rem;
                color: var(--color-grey);
                i {
                    margin-right: .4rem;
                }
                span::before {
                    background-color: var(--color-grey);
                }

            }
        }
        @media (max-width: 991px) {
            h6 {
                margin-bottom: 1.5rem;
            }
        }
    }

    .social {
        list-style: none;
        li {
            display: inline-block;
            &:not(:last-child) {
                margin-right: .7rem;
            }
        }
        .button {
            width: 4.3rem;
            height: 4.3rem;
            padding: 0;
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }
    }

    &-copyright {
        position: relative;
        z-index: 2;

        @media (max-width: 991px) {
            margin-top: 5rem;
        }
    }

    .footer-bottom {
        
        .box-1 {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 11.5rem;
            aspect-ratio: 1 / 1;
        }

        .box-2 {
            position: absolute;
            bottom: 100%;
            left: -50%;
            width: 50%;
            aspect-ratio: 1 / 1;
        }

        .button {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            width: 100%;
            height: 100%;

            span {
                font-size: 2rem;
            }
        }
    }    
}