.header {

    &-wrapper {
        padding-top: 24.5rem;

        @media (max-width: 991px) {
            padding-top: 15rem;
        }
    }

    &-content {
        p {
            margin-top: 2.5rem;
            margin-bottom: 5.5rem;
        }

        .background-layout {
            .box-1 {
                position: absolute;
                bottom: 0;
                left: -40%;
                width: 12.4rem;
                aspect-ratio: 1 / 1;

                @media (max-width: 991px) {
                    width: 8.2rem;
                }
            }
            .box-2 {
                position: absolute;
                bottom: 100%;
                left: 100%;
                width: 130%;
                aspect-ratio: 1 / 1;
            }
            .box-3 {
                position: absolute;
                bottom: 100%;
                right: 100%;
                width: 70%;
                aspect-ratio: 1 / 1;
            }
            .box-4 {
                position: absolute;
                bottom: -100%;
                left: -100%;
                width: 50%;
                aspect-ratio: 1 / 1;
            }
            .box-5 {
                position: absolute;
                top: 25%;
                right: -2rem;
                width: 8.4rem;
                aspect-ratio: 1 / 1;
            }
            .box-6 {
                position: absolute;
                top: 100%;
                left: 100%;
                width: 150%;
                aspect-ratio: 1 / 1;
            }
            .box-7 {
                position: absolute;
                top: 125%;
                left: 125%;
                width: 75%;
                aspect-ratio: 1 / 1;
            }
            .box-8 {
                position: absolute;
                top: -60%;
                right: -60%;
                width: 40%;
                aspect-ratio: 1 / 1;
            }
        }
    }
    
    &-image {
        width: max-content;
        img {
            max-width: 100%;
        }
        @media (max-width: 991px) {
            width: 80%;
        }
    }
}

.header-2 {
    .header-wrapper {
        padding-top: 22rem;
    }
}