:root {
    --color-dark: #2c2c4b;
    --color-dark-1: #353555;
    --color-dark-2: #333353;
    --color-yellow: #ffd600;
    --color-red: #ff3759;
    --color-red-rgba-8: rgba(255, 55, 89, .8);
    --color-green: #21eb8a;
    --color-green-rgba-8: rgba(33, 235, 138, .8);
    --color-pink: #ed50e8;
    --color-blue: #35ccff;
    --color-blue-rgba-8: rgba(53, 204, 255, .8);
    --color-purple: #7e57ff;
    --color-grey: #5b5b71;
    --color-grey-1: #e1e1ec;
    --color-grey-2: #9797ad;
    --color-grey-3: #9797a6;
    --color-grey-4: #808093;
    --color-grey-5: #f1f3f7;
    --color-grey-6: #707577;
    --color-light: #f4f5f9;
    --simple-color-blue: #0066cc;
    --simple-color-blue-light-1: #1a75d1;
    --simple-color-blue-light-2: #3385d6;
    --simple-color-blue-light-3: #4d94db;
    --simple-color-blue-light-4: #66a3e0;
    --simple-color-blue-light-5: #80b3e6;
    --simple-color-blue-light-6: #99c2eb;
    --simple-color-blue-light-7: #b3d1f0;
    --simple-color-blue-light-8: #cce0f5;
    --simple-color-blue-light-9: #e6f0fa;
    --simple-color-blue-dark-1: #005cb8;
    --simple-color-blue-dark-2: #0052a3;
    --simple-color-blue-dark-3: #00478f;
    --simple-color-blue-dark-4: #003d7a;
    --simple-color-blue-dark-5: #003366;
    --simple-color-blue-dark-6: #002952;
    --simple-color-blue-dark-7: #001f3d;
    --simple-color-blue-dark-8: #001429;
    --simple-color-blue-dark-9: #000a14;
    --simple-color-green: #33cc33;
    --simple-color-green-light-1: #47d147;
    --simple-color-green-light-2: #5cd65c;
    --simple-color-green-light-3: #70db70;
    --simple-color-green-light-4: #85e085;
    --simple-color-green-light-5: #99e699;
    --simple-color-green-light-6: #adebad;
    --simple-color-green-light-7: #c2f0c2;
    --simple-color-green-light-8: #d6f5d6;
    --simple-color-green-light-9: #ebfaeb;
    --simple-color-green-dark-1: #2eb82e;
    --simple-color-green-dark-2: #29a329;
    --simple-color-green-dark-3: #248f24;
    --simple-color-green-dark-4: #1f7a1f;
    --simple-color-green-dark-5: #1a661a;
    --simple-color-green-dark-6: #145214;
    --simple-color-green-dark-7: #0f3d0f;
    --simple-color-green-dark-8: #0a290a;
    --simple-color-green-dark-9: #051405;
    --simple-color-yellow: #ffcc00;
    --simple-color-yellow-light-1: #ffd11a;
    --simple-color-yellow-light-2: #ffd633;
    --simple-color-yellow-light-3: #ffdb4d;
    --simple-color-yellow-light-4: #ffe066;
    --simple-color-yellow-light-5: #ffe680;
    --simple-color-yellow-light-6: #ffeb99;
    --simple-color-yellow-light-7: #fff0b3;
    --simple-color-yellow-light-8: #fff5cc;
    --simple-color-yellow-light-9: #fffae6;
    --simple-color-yellow-dark-1: #e6b800;
    --simple-color-yellow-dark-2: #cca300;
    --simple-color-yellow-dark-3: #b38f00;
    --simple-color-yellow-dark-4: #997a00;
    --simple-color-yellow-dark-5: #806600;
    --simple-color-yellow-dark-6: #665200;
    --simple-color-yellow-dark-7: #4c3d00;
    --simple-color-yellow-dark-8: #332900;
    --simple-color-yellow-dark-9: #191400;
    --simple-color-orange: #ff6600;
    --simple-color-orange-light-1: #ff751a;
    --simple-color-orange-light-2: #ff8533;
    --simple-color-orange-light-3: #ff944d;
    --simple-color-orange-light-4: #ffa366;
    --simple-color-orange-light-5: #ffb380;
    --simple-color-orange-light-6: #ffc299;
    --simple-color-orange-light-7: #ffd1b3;
    --simple-color-orange-light-8: #ffe0cc;
    --simple-color-orange-light-9: #fff0e6;
    --simple-color-orange-dark-1: #e65c00;
    --simple-color-orange-dark-2: #cc5200;
    --simple-color-orange-dark-3: #b34700;
    --simple-color-orange-dark-4: #993d00;
    --simple-color-orange-dark-5: #803300;
    --simple-color-orange-dark-6: #662900;
    --simple-color-orange-dark-7: #4c1f00;
    --simple-color-orange-dark-8: #331400;
    --simple-color-orange-dark-9: #190a00;


}